<app-navbar></app-navbar>
<section class="ls s-pt-75 s-pb-10 s-pt-lg-100 s-pb-lg-50 c-mb-30 chief-profile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row c-gutter-60">
                    <div class="col-md-5">
                        <div class="vertical-item content-absolute text-center">
                            <div class="item-media">
                                <img src="../../../assets/images/team/single-profile.jpg" alt="">
                            </div>
                            <div class="item-content bg-maincolor-transparent">
                                <h4>
                                    BMI
                                </h4>

                                <h4>
                                    {{bmi}}
                                </h4>
                            </div>
                        </div>
                        <div class="vertical-item content-absolute text-center">
                            <div class="item-media">
                                <img src="../../../assets/images/team/single-profile.jpg" alt="">
                            </div>
                            <div class="item-content bg-maincolor-transparent">
                                <h4>
                                    Metabolic age
                                </h4>

                                <h4>
                                    {{age}} age
                                </h4>
                            </div>
                        </div>
                        <div class="vertical-item content-absolute text-center">
                            <div class="item-media">
                                <img src="../../../assets/images/team/single-profile.jpg" alt="">
                            </div>
                            <div class="item-content bg-maincolor-transparent">
                                <h4>
                                    Calories
                                </h4>

                                <h4>
                                    {{bmr}} Calories
                                </h4>
                            </div>
                        </div>
                        <div class="vertical-item content-absolute text-center">
                            <div class="item-media">
                                <img src="../../../assets/images/team/single-profile.jpg" alt="">
                            </div>
                            <div class="item-content bg-maincolor-transparent">
                                <h4>
                                    water
                                </h4>

                                <h4>
                                    2.5{{water}} L
                                </h4>
                            </div>
                        </div>
                        <div class="vertical-item content-absolute text-center">
                            <div class="item-media">
                                <img src="../../../assets/images/team/single-profile.jpg" alt="">
                            </div>
                            <div class="item-content bg-maincolor-transparent">
                                <h4>
                                    Lose weight body parts
                                </h4>

                                <h4>
                                    You'll lose weight from these parts: Cheeks, belly, upper, & lower limbs
                                </h4>
                            </div>
                        </div>
                        <div class="vertical-item content-absolute text-center">
                            <div class="item-media">
                                <img src="../../../assets/images/team/single-profile.jpg" alt="">
                            </div>
                            <div class="item-content bg-maincolor-transparent">
                                <h4>
                                    Achievable weight
                                </h4>

                                <h4>
                                    {{archieve_weight}} kg
                                </h4>
                            </div>
                        </div>
                        <div class="vertical-item content-absolute text-center">
                            <div class="item-media">
                                <img src="../../../assets/images/team/single-profile.jpg" alt="">
                            </div>
                            <div class="item-content bg-maincolor-transparent">
                                <h4>
                                    My weight
                                </h4>

                                <h4>
                                    {{weight}} kg
                                </h4>
                            </div>
                        </div>
                        <div class="vertical-item content-absolute text-center">
                            <div class="item-media">
                                <img src="../../../assets/images/team/single-profile.jpg" alt="">
                            </div>
                            <div class="item-content bg-maincolor-transparent">
                                <h4>
                                    Ketogenic Diet
                                </h4>

                                <h4>
                                    Percentage content of fat, protein and carbs
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>