<!-- top navbar -->
<div class="header_absolute">
    <!-- header with three Bootstrap columns - left for logo, center for navigation and right for includes-->
    <header class="page_header s-bordertop nav-narrow ds justify-nav-center header-main">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 col-11">
                    <a href="./" class="logo">
                        <img src="../../assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-xl-8 col-lg-5 col-1 text-sm-center">
                    <!-- main nav start -->
                    <nav class="top-nav">
                        <ul class="nav sf-menu">
                            <li class="active">
                                <a routerLink="/" routerLinkAcitve="active">Homepage</a>
                            </li>
                            
                            <li>
                                <a routerLink="/1" routerLinkAcitve="active">Diet Plan</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- eof main nav -->
                </div>
                <div class="col-xl-2 col-lg-3 text-left text-xl-right d-none d-lg-block">
                    <span>
                        <a href="#" class="btn btn-maincolor2">Contact Us</a>
                    </span>
                </div>
            </div>
        </div>
        <!-- header toggler -->
        <span class="toggle_menu">
        <span></span>
        </span>
    </header>
</div>
<!-- end top navbar -->