<app-navbar></app-navbar>

<section class="page_slider">
    <div class=" flexslider " data-nav="true" data-dots="false">
        <ul class="slides">
            <li class="ds text-center">
                <span class="flexslider-overlay"></span>
                <img src="../../../assets/images/slide01.jpg" alt="">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">

                                    <div class="d-inline-block">
                                        <h2 class="intro_featured_word">
                                            GET YOUR KETO DIET
                                        </h2>
                                    </div>

                                    <!-- select gender-->
                                    <div class="carousel-item diet-step-1 active">
                                        <a href="/2" class="svg-male mx-10" >
                                            <img src="../../assets/images/svg/male.svg">
                                        </a>
                                        <div class="svg-female mx-10" href="#step"  data-slide="next">
                                            <img src="../../assets/images/svg/female.svg">
                                        </div>
                                    </div>
                                    <!-- select gender-->
                                    
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container-fluid -->
            </li>
        </ul>
    </div>
</section>

<app-footer></app-footer>
