<app-navbar></app-navbar>
<section class="page_slider">
    <div class=" flexslider " data-nav="true" data-dots="false">
        <ul class="slides">
            <li class="ds text-center">
                <span class="flexslider-overlay"></span>
                <img src="../../../assets/images/slide02.jpg" alt="">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="d-inline-block">
                                        <h2 class="intro_featured_word">
                                            PROCESSING MEAL PLAN
                                        </h2>
                                    </div>
                                    <div class="row">
                                    <div class="intro_layers flex-btn" data-animation="fadeInUp">
                                        <div class="col-xl-3 col-lg-6 text-center">
                                            <div class="chart" data-size="240" data-percent="100" data-line="4" data-bgcolor="#e5e5e5" data-trackcolor="#82b440" data-speed="4100">
                                                <div class="chart-meta">
                                                    <strong class="percent color-darkgrey"></strong>
                                                    <br>
                                                    <br>
                                                    <h4 class="text-uppercase thin">processing</h4>
                                                </div>
                                            </div>
                                            <a href="/10"><button>continue</button></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container-fluid -->
            </li>
        </ul>
    </div>
</section>
<app-footer></app-footer>
